<!DOCTYPE html>
<html>
<head>
</head>
<body>
<form method="post">
    number <input type="text" value="{{form.number}}" name="number"><br>
    localDateTime <input type="text" value="{{form.localDateTime}}" name="localDateTime">
    <input type="submit">
</form>
</body>
</html>