
    {{>layout/header}}
    <h1>스프링 부트로 시작하는 웹 서비스Ver.2</h1>

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>

                {{#username}}
                        Logged in as: <span id="user">{{username}}</span>
                    <a href="/logout" class="btn btn-info active" role="button">Logout</a>
                {{/username}}
                {{^username}}
                    <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                    <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
                    <a href="/loginForm" class="btn btn-primary" role="button">기본 로그인</a>
                    <a href="/signup" class="btn btn-info" role="button">회원가입</a>
                {{/username}}
                {{#userInfo}}
                    <span>{{userInfo.email}} 님 안녕하세요.</span>
                    <span>{{userInfo.password}} 은 비번</span>
                {{/userInfo}}
            </div>
        </div>

    <br>
    <button type="button"><a href="/posts/search">글 목록</a></button>

<!--    <form action="/posts/search" method="GET" class="form-inline p-2 bd-highlight" role="search">-->
<!--        <input type="text" name="keyword" class="form-control" id="search" placeholder="검색">-->
<!--        <button class="btn btn-success bi bi-search"></button>-->
<!--    </form>-->
<!--    &lt;!&ndash; 목록 출력 영역 &ndash;&gt;-->
<!--    <table class="table table-horizontal table-bordered">-->
<!--        <thead class="thead-strong">-->
<!--        <tr>-->
<!--            <th>게시글번호</th>-->
<!--            <th>제목</th>-->
<!--            <th>작성자</th>-->
<!--            <th>최종수정일</th>-->
<!--            <th>조회수</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody id="tbody">-->
<!--        {{!#posts}}-->
<!--            <tr>-->
<!--                <td>{!{id}}</td>-->
<!--                <td><a href="/posts/update/{{!id}}">{{!title}}</a></td>-->
<!--                <td>{{!author}}</td>-->
<!--                <td>{{!modifiedDate}}</td>-->
<!--                <td>{{!viewCount}}</td>-->
<!--            </tr>-->
<!--            {{!/posts}}-->
<!--        </tbody>-->
<!--    </table>-->
    </div>
    {{>layout/footer}}
