{{>layout/header}}
<div class="login-box">
    <h2>Login</h2>
    <form method="post" action="/login">
<!--        <input id="csrf_token" type="hidden" name="_csrf" value="" />-->
<!--        <input class="aa" type="hidden" name="_csrf" value="{{!_csrf.token}}">-->
        <div class="user-box">
            <input type="text" name="email">
            <label>Username</label>
        </div>
        <div class="user-box">
            <input type="password" name="password">
            <label>Password</label>
        </div>
        <button type="submit">로그인</button>
    </form>
</div>

{{>layout/footer}}