{{>layout/header}}
<div id="posts_list">
    <div class="container col-md-4">
        <form>
            <label for="id"></label>
            <input type="hidden" id="id" value="{{user.id}}"/>
            <input type="hidden" id="modifiedDate" value="{{user.modifiedDate}}"/>
            <div class="form-group">
                <label for="name">이름</label>
                <input type="text" id="name" value="{{user.name}}" class="form-control" >
            </div>

            <div class="form-group">
                <label for="email">이메일</label>
                <input type="email" id="email" value="{{user.email}}" class="form-control" readonly/>
            </div>

            <div class="form-group">
                <label for="password">패스워드</label>
                <input type="password" id="password" class="form-control" placeholder="수정할 비밀번호를 입력해주세요"/>
                <span><input type="checkbox" id="togglePassword" name="togglePassword"></span>
                <label for="togglePassword">Show Password</label>
            </div>
            {{#image}}
            <div>
                <a href="/attach/{{image.id}}" id="imageDownload">{{image.fileName}}</a>
                <img src="/images/{{image.fileName}}" width="300px" height="300px">
            </div>
            {{/image}}
        </form>
        <button id="btn-modify" class="btn btn-primary bi bi-check-lg"> 완료</button>
        <a href="/" role="button" class="btn btn-info bi bi-arrow-return-left"> 목록</a>
    </div>
</div>
<script>
    document.getElementById("togglePassword").addEventListener("change", function () {
        let passwordInput = document.getElementById("password");
        if (this.checked) {
            passwordInput.type = "text";
        } else {
            passwordInput.type = "password";
        }
    });

    document.getElementById("imageDownload").addEventListener("click", function(e) {
        const imgLink = document.getElementById("imageDownload").href;
        if (imgLink.charAt(imgLink.length - 1) == 0) {
            alert("해당 이미지는 다운로드 할 수 없습니다.");
            e.preventDefault();
        }
    });
</script>
{{>layout/footer}}