<div id="popup">
    <h1>제목</h1>
    <p>내용...</p>
    <input type="checkbox" id="no-show-again" />
    <label for="no-show-again">다시는 보지 않기</label>
    <button id="close-btn">닫기</button>
</div>

<div class="main_popup">
    <div class="layer_cont">
        <div class="img_wrap">
            팝업 콘텐츠
        </div>
        <div class="btn_wrap">
            <!-- 오늘 하루 보지 않기 --->
            <button class="btn_today_close"><span>오늘 하루 보지 않기</span></button>
            <!-- 그냥 닫기 --->
            <button class="btn_close">close</button>
        </div>
    </div>
</div>